.wrapper {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.text {
    color: #55ff00;
    font-size: 50px;
}


@media (min-width: 380px) {
    .text {
    font-size: 40px;
    } 
}

@media (min-width: 480px) {
    .text {
    font-size: 60px;
    } 
}

@media (min-width: 768px) {
    .text {
    font-size: 70px;
    }  
}

@media (min-width: 962px) {
    .text {
    font-size: 80px;
    }  
}

@media (min-width: 1024px) {
    .text {
    font-size: 80px;
    } 
}

@media (min-width: 1280px) {
    .text {
    font-size: 80px;
    } 
}

@media (min-width: 1536px) {
    .text {
    font-size: 80px;
    } 
}

@media (min-width: 1920px) {
    .text {
    font-size: 90px;
    }  
}

