.wrapper {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

.text {
    color: #55ff00;
    font-size: 30px;
}


@media (min-width: 360px) {
    .text {
    font-size: 35px;
    } 
}

@media (min-width: 480px) {
    .text {
    font-size: 25px;
    } 
}

@media (min-width: 768px) {
    .text {
    font-size: 25px;
    }  
}

@media (min-width: 962px) {
    .text {
    font-size: 30px;
    }  
}

@media (min-width: 1024px) {
    .text {
    font-size: 40px;
    } 
}

@media (min-width: 1280px) {
    .text {
    font-size: 40px;
    } 
}

@media (min-width: 1536px) {
    .text {
    font-size: 40px;
    } 
}

@media (min-width: 2920px) {
    .text {
    font-size: 190px;
    }  
}

